# Создаём файл .gitignore (точка в начале обязательна)
# этот файл указывает Git, какие файлы игнорировать

# Python временные файлы
__pcache__/
*.pyc
*.pyo
*.pyd

# Виртуальное окружение Python
venv/
env/
.env
.venv/

# Системные файлы
Thumbs.db # Только для Windows

.idea